.searchformSection {
  margin: 60px 70px 40px 70px;
}

.searchform {
  display: flex;
  align-items: center;
  position: relative;
}
.searchform__search-field {
  position: relative;
  background: #f9f9f9;
  border-radius: 40px;
  border: none;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  padding: 12px;
  color: #a0a0a0;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
}
/* .searchform__body {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
  margin: 0 0 0 12px;
  color: #a0a0a0;
} */
.searchform__btn {
  color: white;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  background: #ff6838;
  border-radius: 48px;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 12px;
}

.searchform__btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .searchformSection {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
