.header {
  background-color: #465dff;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}
.header__logo {
  width: 38px;
  height: 38px;
}
.header__wrapper {
}

.header__registration {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  /* line-height: 16px; */
}
.header__sign {
  color: black;
  background-color: #2be080;
  text-decoration: none;
  border: none;
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
  margin-left: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header{
    padding-left: 30px;
    padding-right: 30px;
  
  }
}