.aboutProject {
  padding: 40px 70px 40px 70px;
}
.aboutProject__header {
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.aboutProject__header:after {
  display: block;
  width: 100%;
  content: "";
  border-bottom: 1px solid #000;
  margin-top: 24px;
  margin-bottom: 70px;
}

.aboutProject__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
  /* grid-template-rows: 1fr 1fr; */
}
.aboutProject__subhead {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.aboutProject__text {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0;
}
.aboutProject__text {
}
.aboutProject__grid-timeline {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  margin: 0;
  margin-top: 110px;
}
.aboutProject__1week {
  background-color: #2be080;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.aboutProject__4weeks {
  background-color: #f2f2f2;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.aboutProject__description {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #a0a0a0;
  margin: 10px 0 0 0;
}

@media screen and (max-width: 768px) {
  .aboutProject {
    padding: 18px 30px;
  }
}
@media screen and (max-width: 320px) {
  .aboutProject__1week,
  .aboutProject__4weeks,
  .aboutProject__description {
    font-size: 11px;
  }
}
