.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh;
  max-width: 396px;
  margin: auto;
}

.login__logo {
  width: 38px;
  height: 38px;
}

.form-registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
.form-registration__head {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.form-registration__contact-wrapper {
  border: none;
  margin: 0;
  padding: 0;
}
.form-registration__email {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  height: 35px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #e8e8e8;
}

.form-registration__submitBtn {
  max-width: 396px;
  width: 100%;
  height: 45px;
  background: #ff6838;
  border-radius: 3px;
  border: none;
  color: white;
  margin-top: 150px;
  cursor: pointer;
}

.form-registration__bottom-text {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #a0a0a0;
}
.form-registration__register {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #ff6838;
}
.form-registration__email-holder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;

  color: #a0a0a0;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

@media screen and (max-width: 425px) {
  .login {
    margin-left: 4%;
    margin-right: 4%;
  }
  .form-registration__submitBtn{
    margin-top:30px;
  }
}
