@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("./components/Header/Header.css");
@import url("./components/First-screen.css");
@import url("./components/AboutProject/AboutProject.css");
@import url("./components/Techs/Techs.css");
@import url("./components/AboutMe/AboutMe.css");
@import url("./components/Footer/Footer.css");
@import url("./components/HeaderAuth/HeaderAuth.css");
@import url("./components/SearchForm/SearchForm.css");

body {
  font-family: "Inter";
  max-width: 1280px;
  margin: auto;
}

